* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}

h1 {
  padding: 10px;
  margin-top: 30px;
  font-size: 40px;
  margin-left: 20px;
  font-weight: bold;
}

#content {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  padding: 50px;
}

@media screen and (max-width: 768px) {
  #content {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 50px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 400;
  color: #000;
}

.scores-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
}

.scores-table {
  border: 2px solid #000;
  width: 400px;
  margin-top: 20px;
}

tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 7px;
}

td {
  padding: 7px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #ddd;
}

#refresh-btn {
  padding: 3px 10px;
  cursor: pointer;
}

#form {
  margin-top: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-items: flex-end;
}

#form .input-txt {
  width: 100%;
  padding: 5px;
}

#submit {
  width: 30%;
  padding: 7px 15px;
  cursor: pointer;
  margin-left: auto;
}

.success {
  color: green;
  font-size: 18px;
  text-align: center;
  width: 100%;
  padding: 2px;
  display: none;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

#spinner {
  width: 30px;
  height: 30px;
  display: none;
}
